body {
    display: flex;
    background-color: darkgrey;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

.center-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 10vh;
    height: 10vh;

}

.buttons-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11vh;
    height: 11vh;
    animation-name: background;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}

@keyframes background {
    0%  {background: #3cb64f;}
    25% {background: #a7823b;}
    50% {background: #983a89;}
    75% {background: #395489;}
    100% {background: #3cb64f;}
}